@use 'utility' as *
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap')

.App
    background: $very_dark_blue
    min-height: 100vh
    color: white
    display: grid
    font-family: 'Rubik', sans-serif
    padding: 4.5rem 1.5rem
    gap: 2rem

    @include portrait(640)
        $width: 16vw
        padding-left: $width
        padding-right: $width
        

    @include width(720)
        padding: 8rem 4rem
        place-content: center
        grid-template-columns: repeat(2, auto)
        grid-template-rows: repeat(2, min-content)

.App__Cards
    display: grid
    gap: 2rem

    @include width(720)
        grid-template-columns: repeat(3, minmax(0, 1fr))
        grid-column: 2

.Attribution
    padding-top: 1rem
    justify-self: center
    font-size: .625rem
    opacity: 0.75

    @include width(720)
        grid-row: 2
        grid-column: span 2

    a
        color: white