@use 'utility' as *
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap')

.App
    background: $very_dark_blue
    min-height: 100vh
    color: white
    display: grid
    font-family: 'Rubik', sans-serif
    padding: 4rem 2rem
    gap: 1.5rem

.App__Cards
    display: grid
    gap: 2rem

.Attribution
    padding: 1rem 0
    justify-self: center
    font-size: .625rem
    opacity: 0.75

    a
        color: white