@use 'utility' as *

.Menu
    display: grid
    height: fit-content
    background: $dark_blue
    border-radius: 1rem

.Menu__Items
    display: grid
    grid-auto-flow: column
    justify-content: space-between
    padding: 1.75rem
    color: $desat_blue

    &:hover
        cursor: pointer

.Menu__Items_Active
    color: white
    transition: color 100ms linear

.HeaderCard
    background: $blue
    display: grid
    grid-template-columns: min-content auto
    grid-template-rows: 1fr 1fr
    gap: 0.65rem 1rem
    height: fit-content
    padding: 1.75rem
    border-radius: 1rem

    img
        grid-row: span 2
        height: 4rem
        border: 2px solid white
        border-radius: 50%
    
    p
        font-size: 0.875rem
        align-self: end
        color: $pale_blue

    h1
        font-size: 1.25rem


.TimeCard
    display: grid
    grid-template-columns: auto auto
    grid-template-rows: 1fr 1fr
    background: $dark_blue
    border-radius: 1rem 
    padding: 2rem 1.75rem
    align-items: center
    gap: .5rem

    h3
        font-size: 1.125rem
        font-weight: 500

    img
        justify-self: end

    h4
        font-size: 1.75rem
        font-weight: 300

    p
        font-size: .875rem
        justify-self: end


.Card
    border-radius: 1rem
    padding-top: 3rem

.Card:nth-of-type(1)
    background: url('../assets/icon-work.svg') $orange no-repeat
    background-position-x: 90%
    
.Card:nth-of-type(2)
    background: url('../assets/icon-play.svg') $soft_blue no-repeat
    background-position-x: 90%

.Card:nth-of-type(3)
    background: url('../assets/icon-study.svg') $light_red no-repeat
    background-position-x: 90%

.Card:nth-of-type(4)
    background: url('../assets/icon-exercise.svg') $lime_green no-repeat
    background-position-x: 90%

.Card:nth-of-type(5)
    background: url('../assets/icon-social.svg') $violet no-repeat
    background-position-x: 90%

.Card:nth-of-type(6)
    background: url('../assets/icon-self-care.svg') $yellow no-repeat
    background-position-x: 90%

