@use 'utility' as *

.HeaderCard
    background: pink
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
    gap: 1rem
    width: fit-content
    height: fit-content

    img
        grid-row: span 2
    
    p
        align-self: end